In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
from sklearn.linear_model import Ridge
from sklearn.linear_model import LinearRegression
from sklearn.linear_model import Lasso
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.neighbors import NearestNeighbors

In [2]:
# Import Training Set

X_train = pd.read_csv("X_train.csv")
y_train = pd.read_csv(r"y_train.csv")

display('X_train:', X_train.shape, X_train.head())
display('y_train:', y_train.shape, y_train.head())

'X_train:'

(1212, 833)

,id,x0,x1,x2,x3,x4,x5,x6,x7,x8,...,x822,x823,x824,x825,x826,x827,x828,x829,x830,x831
0,0.0,118345.392781,3104.010883,82378.542430,1086.678601,11395.883550,10.455601,109886.476608,1.054926e+06,101877.946528,...,10.769524,10.245068,1021.907543,1031.645762,107440.039766,107083.296966,5559.203921,10.861464,107548.413675,2.299202
1,1.0,NaN,5889.055991,97932.067482,1116.564363,12172.212426,10.502997,100372.504488,1.011783e+06,108852.296962,...,10.859822,10.088023,988.135968,999.044639,105238.779040,106365.468525,10334.091649,NaN,107841.227180,2.472763
2,2.0,95373.022035,6293.442455,93371.369288,1034.722073,11618.142107,10.947611,109337.757279,1.006491e+06,104540.883376,...,10.356015,10.514234,995.480813,898.329758,107044.005199,102704.104686,7697.875887,10.277760,103414.594212,NaN
3,3.0,105066.272301,3279.162164,119554.079514,1114.014483,12127.235755,10.540204,106215.391332,1.022381e+06,109597.474506,...,10.609811,10.991861,1117.179063,867.267810,100617.082858,108893.304959,6549.131099,9.337688,105722.857008,2.484935
4,4.0,98957.033333,4177.482190,97239.708338,1049.430921,10417.250336,10.618957,102736.470171,1.086871e+06,103340.057448,...,10.397777,NaN,863.943966,1041.278922,105352.672454,101705.692839,5388.312773,12.196382,NaN,1.930136

'y_train:'

(1212, 2)

    id     y
0  0.0  75.0
1  1.0  53.0
2  2.0  78.0
3  3.0  65.0
4  4.0  86.0

In [3]:
# Drop id column for X_train and y_train

X_train = X_train.drop(columns='id', axis=1)
display("X_train.head():", X_train.head())
print("X_train.shape:", X_train.shape)

print(" ")

y_train = y_train.drop(columns='id', axis=1)
display("y_train.head():", y_train.head())
print("y_train.shape:", y_train.shape)

'X_train.head():'

,x0,x1,x2,x3,x4,x5,x6,x7,x8,x9,...,x822,x823,x824,x825,x826,x827,x828,x829,x830,x831
0,118345.392781,3104.010883,82378.542430,1086.678601,11395.883550,10.455601,109886.476608,1.054926e+06,101877.946528,2.550290,...,10.769524,10.245068,1021.907543,1031.645762,107440.039766,107083.296966,5559.203921,10.861464,107548.413675,2.299202
1,NaN,5889.055991,97932.067482,1116.564363,12172.212426,10.502997,100372.504488,1.011783e+06,108852.296962,2.579040,...,10.859822,10.088023,988.135968,999.044639,105238.779040,106365.468525,10334.091649,NaN,107841.227180,2.472763
2,95373.022035,6293.442455,93371.369288,1034.722073,11618.142107,10.947611,109337.757279,1.006491e+06,104540.883376,2.573247,...,10.356015,10.514234,995.480813,898.329758,107044.005199,102704.104686,7697.875887,10.277760,103414.594212,NaN
3,105066.272301,3279.162164,119554.079514,1114.014483,12127.235755,10.540204,106215.391332,1.022381e+06,109597.474506,2.693256,...,10.609811,10.991861,1117.179063,867.267810,100617.082858,108893.304959,6549.131099,9.337688,105722.857008,2.484935
4,98957.033333,4177.482190,97239.708338,1049.430921,10417.250336,10.618957,102736.470171,1.086871e+06,103340.057448,2.540610,...,10.397777,NaN,863.943966,1041.278922,105352.672454,101705.692839,5388.312773,12.196382,NaN,1.930136

X_train.shape: (1212, 832)

'y_train.head():'

      y
0  75.0
1  53.0
2  78.0
3  65.0
4  86.0

y_train.shape: (1212, 1)

In [7]:
# Fill in data with mean

X_train.fillna(np.nanmean(X_train), inplace=True)
display(X_train.head())

# and look at NaNs

display("\nTotal Number of NaN in X_train:", X_train.isna().sum(axis=1).sum(axis=0))
print(" ")

AttributeError: 'numpy.ndarray' object has no attribute 'fillna'

In [5]:
# Standardize

scaler = StandardScaler()

X_train = scaler.fit_transform(X_train)
print("Mean X_train:", X_train.mean(axis=0).mean(axis=0))
display(X_train)

y_train = y_train.values
display(y_train)

Mean X_train: 6.2545170870329054e-18

array([[ 0.26761547,  0.3047564 ,  0.28660575, ...,  0.29659952,
         0.27288841,  0.28660575],
       [-3.73670483,  0.3047564 ,  0.28660575, ..., -3.37154963,
         0.27288841,  0.28660575],
       [ 0.26761547,  0.3047564 ,  0.28660575, ...,  0.29659952,
         0.27288841, -3.4891135 ],
       ...,
       [ 0.26761547, -3.28130923,  0.28660575, ...,  0.29659952,
        -3.66450153,  0.28660575],
       [-3.73670483,  0.3047564 ,  0.28660575, ...,  0.29659952,
         0.27288841,  0.28660575],
       [ 0.26761547,  0.3047564 ,  0.28660575, ...,  0.29659952,
         0.27288841,  0.28660575]])

array([[75.],
       [53.],
       [78.],
       ...,
       [74.],
       [78.],
       [64.]])

In [10]:
# Outlier detection

# Calculate mean distance to 10 nearest neighbors

neigh = NearestNeighbors(n_neighbors=10)
neigh.fit(X_train)

mean_dist_10NN_vec, indices = neigh.kneighbors(X_train, return_distance=True)
print("mean_dist_10NN_vec.shape:", mean_dist_10NN_vec.shape)

mean_dist_10NN_dp = mean_dist_10NN_vec.mean(axis=1)
print("mean_dist_10NN_dp:", mean_dist_10NN_dp)


factor = 1.05
mean_dist_tot = mean_dist_10NN_vec.mean()
threshold = factor * mean_dist_tot
print("threshold:", threshold)

mean_dist_10NN_vec.shape: (1212, 10)
mean_dist_10NN_dp: [32.77806707 34.30324168 32.4116099  ... 33.2313406  33.20183597
 35.0333918 ]
threshold: 35.06419342152029

1.) change either KNN (number of neighbors) or factor // alternative: through a certain percentage of data with biggest avg distance

In [11]:
# find indices to be removed

index_to_be_removed = mean_dist_10NN_dp > threshold
print("Number of indices to be removed:", index_to_be_removed.sum())

X_train = np.delete(X_train, np.where(index_to_be_removed), axis=0)
print("New number of data after droping points with too long mean_dist from KNN:", X_train.shape[0])

Number of indices to be removed: 84
New number of data after droping points with too long mean_dist from KNN: 1128

In [22]:
# Split in Training & Test for Cross validation

X_train, y_train, X_test, y_test = train_test_split(X_train, y_train, test_size=0.1)

In [54]:
# For Final Submission

# Import Testing Set

X_test = pd.read_csv(r"X_test.csv")
print("X_test.shape:", X_test.shape)

X_test.shape: (776, 833)

In [55]:
# Drop id column from X_test

X_test = X_test.drop(columns='id', axis=1)
display(X_test.isna().sum(axis=0).sum(axis=0))

40637

In [57]:
# Predict y values for X_test

y_pred = model.predict(X_test)

In [58]:
# Now we try again:

y_pred = model.predict(X_test)
y_pred = pd.DataFrame(y_pred)

display(y_pred.head())
print("y_pred.shape:", y_pred.shape)

           0
0  66.170301
1  69.833853
2  81.326555
3  72.457769
4  73.726879

y_pred.shape: (776, 1)

In [59]:
# Store values in submission format

y_submission1 = pd.DataFrame(columns=['id','y'])
y_submission1.id = np.arange(0,776)
y_submission1.y = y_pred

In [60]:
y_submission1.to_csv("y_submission1_nan_mean.csv", index=False)

### METHOD2: Linear Regression (normalized), fit intercept calculated

In [61]:
# New model is the same as before, but with normalization

model2 = LinearRegression(fit_intercept=True, normalize=True)
model2.fit(X_train, y_train)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=None, normalize=True)

In [62]:
# Same as before but with new model

y_pred2 = model2.predict(X_test)

In [63]:
print("Mean of y_pred without normalizing:", y_pred.mean())
print(" ")
print("Mean of y_pred normalizing:", y_pred2.mean())

Mean of y_pred without normalizing: 0    69.773089
dtype: float64

Mean of y_pred normalizing: 69.00098670539015

##### -> The difference in mean is very notable!

In [64]:
# Store values in submission format

y_submission2 = pd.DataFrame(columns=['id','y'])
y_submission2.id = np.arange(0,776)
y_submission2.y = y_pred2

y_submission2.to_csv("y_submission2_nan_mean_normalized.csv", index=False)

TypeError: 'float' object cannot be interpreted as an integer